<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {{ users_page }}" href="{% url 'smartlock:users' %}">Usuários</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ user_groups_page }}"
           href="{% url 'smartlock:user_groups' %}">Grupos de Usuários</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ locks_page }}" href="{% url 'smartlock:locks' %}">Fechaduras</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ lock_groups_page }}"
           href="{% url 'smartlock:lock_groups' %}">Grupos de Fechaduras</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ logs_page }}"
            href="{% url 'smartlock:logs' %}">Logs</a>
    </li>
</ul>
