{% extends "./userdatagroup.html" %}{% block user_groups_content %}
{% block extra_header %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/widgets.css"/>
<!-- <link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css"/> -->
<!-- <link rel="stylesheet" type="text/css" href="/static/admin/css/global.css"/> -->
{% endblock %}
<div class="container-fluid">
  <div class="row" style="width:100%;">
    <form method="post">
      <div class="row" style="margin-top:25px;">
        <div class="col col-sm-2">
          <img src="/static/SmartlockLogoNoName.png"  style="max-width: 150px;" class="img-thumbnail" alt="...">
        </div>
        <div class="col col-sm-6 mt-auto">
          <div class="row" style="max-height: 30px; margin-left: 40px; margin-bottom: 10px;
                                  font-size: 20px; font-weight: 600;">
            <p>Nome</p>
          </div>
          <div class="row" style="max-height: 30px; margin-left: 40px; font-size: 16px;">
            {{ form.name }}
          </div>
        </div>
        <div class="col col-sm-4 mt-auto" style="text-align: end;">
          <a href="{% url 'smartlock:del_userdatagroup' pk=form.instance.pk %}">
            <button type="button" class="btn btn-danger">Remover</button>
          </a>
          <button type="submit" class="btn btn-primary">Alterar</button>
        </div>
      </div>
      <div>
        {{ form.media }}
      </div>
      {% csrf_token %}
      <div class="row"
           style="max-height: 30px; margin-top: 35px; margin-bottom: 30px; font-size: 20px; font-weight: 600;">
        <p>Usuários</p>
      </div>
      <div class="row">
        {{ form.grup }}
      </div>
    </form>
  </div>
  <div class="row" style="max-height: 30px; margin-bottom: 30px;
                          font-size: 20px; font-weight: 600;">
    <p>Permissões</p>
  </div>
  <form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <div style=" overflow: auto;">
      <table class="table" style="width: 100% !important; overflow-x: scroll; font-size:15px">
        {% for form in formset %}
        {% if forloop.first %}
        <thead><tr class="formset">
            {% if formset.can_delete %}
            <th class="formset">{% comment %}Delete{% endcomment %}</th>
            {% endif %}
            {% for field in form.visible_fields %}
            {% if field.label != 'Delete' and field.label != 'User' %}
            <th class="formset">{{ field.label }}</th>
            {% endif %}
            {% endfor %}
        </tr></thead>
        {% endif %}
        <tr class="formset">
          <td class="formset">
            {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
            {% if not forloop.last %}
            {% if formset.can_delete %}Delete? {{ form.DELETE }}{% endif %}
            {% else %}
            New
            {% endif %}
          </td>
          {% for field in form.visible_fields %}
          {% if field != form.DELETE and field != form.userdatacomposite %}
          <td class="formset">{{ field }}{% if field.errors %}<br>{{ field.errors.as_text }}{% endif %}</td>
          {% endif %}
          {% endfor %}
        </tr>
        {% if form.non_field_errors %}<tr class="formset"><td colspan="{{ form.visible_fields | length }}">
            &rdsh;{{ form.non_field_errors.as_text }}</td></tr>{% endif %}
        {% endfor %}
      </table>
    </div>
    <div class="row" style="justify-content: flex-end;">
      <button type="submit" class="btn btn-primary" style="margin-bottom:30px; margin-top:10px">
        Update, delete, add new schedule</button>
    </div>
  </form>
  <div class="row" style="max-height: 30px; margin-bottom: 30px; font-size: 20px; font-weight: 600;">
    <p>Permissões individuais de usuários do grupo</p>
  </div>
  <div class="row" style="margin-bottom: 30px;">
    {% include "./extra_schedules.html" %}
  </div>
</div>


<style type="text/css" media="screen">
  tr.formset,th.formset,td.formset {text-align: center;
                                    border: 1px solid #333;}
  select {max-width: 10em;}
  select.filtered {height: 10em;}
</style>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
{{ formset.media }}

{% endblock %}
